
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/SellerLayout.cshtml";
}


<div class="page-header">
    <h3 class="page-title">
        Ürünlerim
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Ürün İşlemleri</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ürünlerim</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-body">
                <div class="table-responsive">
                    <table id="product-listing" class="table">
                        <thead>
                            <tr>
                                <th width="10%">Ürün Numarası #</th>
                                <th width="12%">Eklenme Tarihi</th>
                                <th width="20%">Adı</th>
                                <th width="10%">Kategori</th>
                                <th width="6%">Fiyat</th>
                                <th width="12%">Güncellenme Tarihi</th>
                                <th width="10%">Durum</th>
                                <th width="10%">İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>aaa</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>                            
                            <tr>
                                <td>1</td>
                                <td>2012/08/03</td>
                                <td>Edinburgh</td>
                                <td>New York</td>
                                <td>$1500</td>
                                <td>$3200</td>
                                <td>
                                    <label class="badge badge-outline badge-primary">Elektronik</label>
                                </td>
                                <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-primary btn-sm">Görüntüle</button>
                                      <button type="button" class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                        <h6 class="dropdown-header">İşlemler</h6>
                                        <a class="dropdown-item" href="#">Düzenle</a>
                                        <a class="dropdown-item" href="#">Satışı Durdur</a>
                                        <a class="dropdown-item" href="#">Soruları Gör</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Bildir</a>
                                      </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>



