@model List<alsatcomClient.Areas.Admin.Models.ProductListModel>
@{
    ViewData["Title"] = "Onay Bekleyen Ürünler";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="page-header">
    <h3 class="page-title">
        Onay Bekleyen Ürünler
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Ürün İşlemleri</a></li>
            <li class="breadcrumb-item active" aria-current="page">Onay Bekleyen Ürünler</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="admin-product-listing" class="table">
                        <thead>
                            <tr>
                                <th width="16%">Ürün Numarası #</th>
                                <th width="10%">Eklenme Tarihi</th>
                                <th width="16%">Ürün Adı</th>
                                <th width="10%">Kategori</th>
                                <th width="6%">Fiyat</th>
                                <th width="6%">Durum</th>
                                <th width="10%">İşlemler</th>
                                <th width="10%">Onay</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model)
                            {
                                <tr>
                                    <td>@product.Id</td>
                                    <td>@(((DateTime)product.CreatedDate).ToString("MMM dd, yyyy - hh:mm"))</td>
                                    <td>@product.Name</td>
                                    <td>
                                        <label class="badge badge-outline badge-primary">Elektronik</label>
                                    </td>
                                    <td>&#x20BA;@product.Price</td>                                
                                    <td>
                                        @if (product.Status)
                                        {
                                            <label class="badge badge-success">Aktif</label>
                                        }
                                        else
                                        {
                                            <label class="badge badge-danger">Pasif</label>
                                        }
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info btn-sm">Görüntüle</button>
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton1">
                                                <h6 class="dropdown-header">İşlemler</h6>
                                                <a class="dropdown-item" href="#">Düzenle</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-icon-text">
                                            <i class="fa fa-check btn-icon-prepend"></i>
                                            Onayla
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


