@{
    ViewData["Title"] = "ProductAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="page-header">
    <h3 class="page-title">
        Ürün Ekle
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Ürün İşlemleri</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ürün Ekle</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <form id="example-form" action="#">
                    <div>
                        <h3>Bilgiler</h3>
                        <section>
                            <div class="form-group">
                                <label for="userName">Ürün Adı *</label>
                                <input id="userName" name="userName" type="text" class="required form-control">
                            </div>
                            <div class="form-group">
                                <label for="password">Markası *</label>
                                <input id="password" name="password" type="password" class="required form-control">
                                <small>(*) Zorunlu</small>
                            </div>
                        </section>
                        <h3>Açıklama</h3>
                        <section>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="summernoteExample">
                                        Ürün açıklaması giriniz...
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h3>Fotoğraflar</h3>
                        <section>
                            <div class="col-lg-auto stretch-card align-items-center">
                                <div class="container text-center">
                                    <div id="div1" class="row row-cols-4">
                                        <div class="col-md-3" style="margin-top:20px;">
                                            <input type="file" class="dropify" data-height="200" />
                                        </div>
                                    </div>
                                    <button type="button" onclick="addImage()" class="btn btn-outline-secondary btn-rounded btn-icon" style="margin:2em !important">
                                        <i class="fas fa-plus text-success"></i>
                                    </button>
                                    <button type="button" onclick="deleteImage()" class="btn btn-outline-secondary btn-rounded btn-icon" style="margin:2em !important">
                                        <i class="fas fa-trash text-danger"></i>
                                    </button>
                                </div>
                            </div>
                        </section>
                        <h3>Şartlar ve Koşullar</h3>
                        <section>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox">
                                    Şartlar ve koşulları kabul ediyorum.
                                </label>
                            </div>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function addImage() {
        const para = document.createElement("input");
        para.setAttribute("type", "file");
        para.setAttribute("class", "dropify");
        para.setAttribute("data-height", "200");

        const para2 = document.createElement("div");
        para2.setAttribute("class", "col-md-3");
        para2.setAttribute("style", "margin-top:20px;");

        para2.appendChild(para);

        const element = document.getElementById("div1");
        element.appendChild(para2);

        (function ($) {
            'use strict';
            $('.dropify').dropify({
                messages: {
                    'default': 'Bir dosyayı buraya sürükleyip bırakın veya tıklayın',
                    'replace': 'Değiştirmek için sürükleyip bırakın veya tıklayın',
                    'remove': 'Kaldır',
                    'error': 'Hay aksi, yanlış bir şey oldu.'
                },
                error: {
                    'fileSize': 'Dosya boyutu çok büyük (maksimum {{ value }}).',
                    'minWidth': 'Görüntü genişliği çok küçük (minimum {{ value }}}px).',
                    'maxWidth': 'Görüntü genişliği çok büyük (maksimum {{ value }}}px).',
                    'minHeight': 'Görüntü yüksekliği çok küçük (minimum {{ value }}}px).',
                    'maxHeight': 'Görüntü yüksekliği çok büyük (maksimum {{ value }}}px).',
                    'imageFormat': 'Resim biçimine izin verilmiyor. (yalnızca {{ value }}).'
                }
            });
        })(jQuery);
    }

    function deleteImage() {
        var select = document.getElementById("div1");
        select.removeChild(select.lastChild);
    }

</script>