@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="/Home">Anasayfa</a></li>
                <li class="active">Giriş Yap</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                <!-- Login Form s-->
                <form id="loginForm">
                    <div class="login-form" style="padding-bottom:77px;">
                        <h4 class="login-title">Giriş Yap</h4>
                        <div class="row">
                            <div class="col-md-12 col-12 mb-20">
                                <label>Email</label>
                                <input class="mb-0" name="UsernameOrEmail" type="text" placeholder="Email Address">
                            </div>
                            <div class="col-12 mb-20">
                                <label>Şifre</label>
                                <input class="mb-0" name="Password" type="password" placeholder="Password">
                            </div>
                            <div class="col-md-8">
                                <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                    <input type="checkbox" id="remember_me">
                                    <label for="remember_me">Beni hatırla</label>
                                </div>
                            </div>
                            <div class="col-md-4 mt-10 mb-20 text-left text-md-right">
                                <a href="#"> Şifreni mi unuttun?</a>
                            </div>
                            <div class="col-md-12" style="text-align: -webkit-center;">
                                <button class="register-button mt-0" type="button" id="loginButton">Giriş Yap</button>
                                <span class="text-danger " id="login-error" style="display:none;vertical-align: -webkit-baseline-middle;">Email ya da şifre hatalı!</span>
                                <span class="text-success " id="login-success" style="display:none;vertical-align: -webkit-baseline-middle;">Giriş başarılı! Anasayfaya yönlendiriliyorsunuz.</span>
                            </div> 
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                <form action="#">
                    <div class="login-form">
                        <h4 class="login-title">Kayıt Ol</h4>
                        <div class="row">
                            <div class="col-md-6 col-12 mb-20">
                                <label>First Name</label>
                                <input class="mb-0" type="text" placeholder="Ad">
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>Last Name</label>
                                <input class="mb-0" type="text" placeholder="Soyad">
                            </div>
                            <div class="col-md-12 mb-20">
                                <label>Email Address*</label>
                                <input class="mb-0" type="email" placeholder="Email">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Password</label>
                                <input class="mb-0" type="password" placeholder="Şifre">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Confirm Password</label>
                                <input class="mb-0" type="password" placeholder="Şifre Tekrar">
                            </div>
                            <div class="col-12">
                                <button class="register-button mt-0">Kayıt Ol</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {


        $("#loginButton").click(function () {

            var formData = $("#loginForm").serialize();
           
            $.ajax({
                type: "POST",
                url: "/User/Login",
                data: formData,
                dataType: "json",
                beforeSend: function () {
                },
                success: function (data) {

                    $("#login-success").css("display", "block");
                    setTimeout(() => {
                        $("#login-success").css("display", "none");
                    }, 5000);

                    setTimeout(() => {
                        document.location.href = '/Home';
                    }, 3500);
                    
                },
                error: function () {
                    $("#login-error").css("display", "block");
                    setTimeout(() => {
                        $("#login-error").css("display", "none");
                    }, 5000);
                }
            });
        });
    });
</script>