
@{
    ViewData["Title"] = "Geçmiş Siparişler";
    Layout = "~/Views/Shared/SellerLayout.cshtml";
}

<div class="page-header">
    <h3 class="page-title">
        Geçmiş Siparişler
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Siparişler</a></li>
            <li class="breadcrumb-item active" aria-current="page">Geçmiş Siparişler</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="dealer-datatable" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Sipariş Numarası
                        </th>
                        <th>
                            Müşteri Adı
                        </th>
                        <th>
                            İçerik
                        </th>
                        <th>
                            Tutar
                        </th>
                        <th>
                            Tarih
                        </th>
                    </tr>
                </thead>
                 <tbody>
                    <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>                    
                        <tr class="table-warning">
                        <td>
                            11
                        </td>
                        <td>
                            Samet
                        </td>
                        <td>
                            Test
                        </td>
                        <td>
                            55 TL
                        </td>
                        <td>
                            May 15, 2023
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

