
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0">Günlük Şipariş Sayısı</h4>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-inline-block pt-3">
                        <div class="d-md-flex">
                            <h2 class="mb-0">17</h2>
                            <div class="d-flex align-items-center ml-md-2 mt-2 mt-md-0">
                                <i class="far fa-clock text-muted"></i>
                                <small class=" ml-1 mb-0">Güncellendi: 09:10</small>
                            </div>
                        </div>
                        <small class="text-gray">Bu ay toplam sipariş sayısı 78</small>
                    </div>
                    <div class="d-inline-block">
                        <i class="fas fa-cubes text-info icon-lg"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0">Günlük Sipariş Tutarı</h4>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-inline-block pt-3">
                        <div class="d-md-flex">
                            <h2 class="mb-0">2.256 TL</h2>
                            <div class="d-flex align-items-center ml-md-2 mt-2 mt-md-0">
                                <i class="far fa-clock text-muted"></i>
                                <small class="ml-1 mb-0">Güncellendi: 14:43</small>
                            </div>
                        </div>
                        <small class="text-gray">Bu ay toplam sipariş tutarı 14.564 TL</small>
                    </div>
                    <div class="d-inline-block">
                        <i class="fas fa-shopping-cart text-danger icon-lg"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row grid-margin">
    <div class="col-12">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fa fa-chart-line mr-2"></i>
                            Toplam satış
                        </p>
                        <h2>54.020</h2>
                        <label class="badge badge-outline-success badge-pill">Bu ay 78</label>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-users mr-2"></i>
                            Toplam müşteri
                        </p>
                        <h2>534</h2>
                        <label class="badge badge-outline-success badge-pill">Bu ay 53 yeni müşteri</label>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-star mr-2"></i>
                            Satıcı puanı
                        </p>
                        <h2>8.7</h2>
                        <label class="badge badge-outline-success badge-pill">Bu ay + 0.4</label>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-suitcase mr-2"></i>
                            Toplam kazanç
                        </p>
                        <h2>9000 TL</h2>
                        <label class="badge badge-outline-success badge-pill">Bu ay 14.564 TL</label>
                    </div>
                    <div class="statistics-item">
                        <p>
                            <i class="icon-sm fas fa-meh mr-2"></i>
                            İptal & İade 
                        </p>
                        <h2>23</h2>
                        <label class="badge badge-outline-danger badge-pill">Bu ay 3</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fas fa-thumbtack"></i>
                    Yapılacak Listesi
                </h4>
                <div class="add-items d-flex">
                    <input type="text" class="form-control todo-list-input" placeholder="Bugün ne yapacaksın?">
                    <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Ekle</button>
                </div>
                <div class="list-wrapper">
                    <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                        <li>
                            <div class="form-check form-check-flat">
                                <label class="form-check-label">
                                    <input class="checkbox" type="checkbox">
                                    Meeting with Alisa
                                </label>
                            </div>
                            <i class="remove fa fa-times-circle"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card text-center">
            <div class="card-body">
                <img src="~/admin/images/faces/face5.jpg" class="img-lg rounded-circle mb-2" alt="profile image" />
                <h4>Deneme Mağaza</h4>
                <p class="text-muted">Satıcı</p>
                <p class="mt-4 card-text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Aenean commodo ligula eget dolor. Lorem
                </p>
                <button class="btn btn-info btn-sm mt-3 mb-4">Mağazaya Git</button>
                <div class="border-top pt-3">
                    <div class="row">
                        <div class="col-4">
                            <h6>5896</h6>
                            <p>Ürün</p>
                        </div>
                        <div class="col-4">
                            <h6>1596</h6>
                            <p>Takipçi</p>
                        </div>
                        <div class="col-4">
                            <h6>7896</h6>
                            <p>Beğeni</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Güncellemeler</h4>
                <ul class="solid-bullet-list">
                    <li>
                        <h6>User confirmation</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing </p>
                        <p class="text-muted">
                            <i class="far fa-clock"></i>
                            7 months ago.
                        </p>
                    </li>
                    <li>
                        <h6>Continuous evaluation</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing </p>
                        <p class="text-muted">
                            <i class="far fa-clock"></i>
                            7 months ago.
                        </p>
                    </li>
                    <li>
                        <h6>Promotion</h6>
                        <p>Lorem Ipsum is simply dummy text of the printing </p>
                        <p class="text-muted">
                            <i class="far fa-clock"></i>
                            7 months ago.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fas fa-table"></i>
                    Satışlar
                </h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Müşteri</th>
                                <th>Ürün Kodu</th>
                                <th>Sipariş Kodu</th>
                                <th>Durum</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">
                                    Clifford Wilson
                                </td>
                                <td class="text-muted">
                                    PT613
                                </td>
                                <td>
                                    350
                                </td>
                                <td>
                                    <label class="badge badge-success badge-pill">Gönderildi</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">
                                    Mary Payne
                                </td>
                                <td class="text-muted">
                                    ST456
                                </td>
                                <td>
                                    520
                                </td>
                                <td>
                                    <label class="badge badge-warning badge-pill">Hazırlanıyor</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">
                                    Adelaide Blake
                                </td>
                                <td class="text-muted">
                                    CS789
                                </td>
                                <td>
                                    830
                                </td>
                                <td>
                                    <label class="badge badge-danger badge-pill">İptal</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">
                                    Adeline King
                                </td>
                                <td class="text-muted">
                                    LP908
                                </td>
                                <td>
                                    579
                                </td>
                                <td>
                                    <label class="badge badge-primary badge-pill">Teslim Edildi</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">
                                    Bertie Robbins
                                </td>
                                <td class="text-muted">
                                    HF675
                                </td>
                                <td>
                                    790
                                </td>
                                <td>
                                    <label class="badge badge-info badge-pill">Beklemede</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center mb-3 mb-md-0">
                        <button class="btn btn-social-icon btn-facebook btn-rounded">
                            <i class="fab fa-facebook-f"></i>
                        </button>
                        <div class="ml-4">
                            <h5 class="mb-0">alsatcom</h5>
                           
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3 mb-md-0">
                        <button class="btn btn-social-icon btn-twitter btn-rounded">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <div class="ml-4">
                            <h5 class="mb-0">alsatcom</h5>
                            
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3 mb-md-0">
                        <button class="btn btn-social-icon btn-youtube btn-rounded">
                            <i class="fab fa-youtube"></i>
                        </button>
                        <div class="ml-4">
                            <h5 class="mb-0">alsatcom</h5>
                         
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <button class="btn btn-social-icon btn-linkedin btn-rounded">
                            <i class="fab fa-linkedin-in"></i>
                        </button>
                        <div class="ml-4">
                            <h5 class="mb-0">alsatcom</h5>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

